<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>

        <!-- Acción para la vista de Almacenes -->
        <record id="action_almacen" model="ir.actions.act_window">
            <field name="name">Almacenes</field>
            <field name="res_model">stock.warehouse</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="action_empresa" model="ir.actions.act_window">
            <field name="name">Empresa</field>
            <field name="res_model">res.company</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="action_producto" model="ir.actions.act_window">
            <field name="name">Producto</field>
            <field name="res_model">product.product</field>
            <field name="view_mode">tree,form</field>
        </record>

        
        <record id="action_categoria" model="ir.actions.act_window">
            <field name="name">Categoria</field>
            <field name="res_model">product.category</field>
            <field name="view_mode">tree,form</field>
        </record>
        <!-- Menú principal para Almacenes -->
        <menuitem id="gestion_menu_view" name="Gestion" sequence="10"/>

        <!-- Submenú para Almacen -->
        <menuitem id="submenu_almacen_menu_view" name="Almacen" parent="gestion_menu_view" action="action_almacen"/>

        <menuitem id="submenu_empresa_menu_view" name="Empresa" parent="gestion_menu_view" action="action_empresa"/>

        <menuitem id="submenu_categoria_menu_view" name="Categoria" parent="gestion_menu_view" action="action_categoria"/>

        <menuitem id="submenu_producto_menu_view" name="Producto" parent="gestion_menu_view" action="action_producto"/>

    </data>
</odoo>
